@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  p {
    @apply mt-1 mb-1;
  }
  
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 0.9rem;
  }
  h6 {
    font-size: 0.8rem;
  }
  ul {
    @apply list-disc px-2 my-1;
  }
  
  input,
  textarea {
    @apply border border-black p-03;
  }
  
  p {
    word-break: break-word;
  }
}

@layer components {
  .transition-height {
    transition: height 1s;
  }
  
  .selected {
      @apply bg-indigo-200;
  }
  
}

@layer utilities {
  .a-delay-none {
    animation-delay: 0;
  }
  
  .a-delay-1 {
    animation-delay: 1s;
  }
  .a-delay-2 {
    animation-delay: 2s;
  }
  .a-delay-3 {
    animation-delay: 3s;
  }
  .a-delay-4 {
    animation-delay: 4s;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  display: grid;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-size: 16px;
  overflow-x: hidden;
  background-color: #ECEFF1;
}

body::-webkit-scrollbar {
    display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

a {
    color: black;
    text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #e1e1e1;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
    font-size: 2rem !important;
    font-weight: bold;
    
}